{% extends template.self %}

{% block head %}
	{{ super() }}
	<link href="https://fonts.googleapis.com/css?family=Roboto:,i,b,bi&amp;subset=latin-ext" rel="stylesheet">
{% endblock %}

{% block page %}
	{{ page.content
		| replace("<code>&#x2660;</code>", "♠")
		| replace("<code>&#x2665;</code>", "<span class='redsuit'>♥</span>")
		| replace("<code>&#x2666;</code>", "<span class='redsuit'>♦</span>")
		| replace("<code>&#x2663;</code>", "♣")
		| safe }}
{% endblock %}
{# vim: set filetype=liquid #}
