{% set ♠ = "♠" %}
{% set ♥ = "<span class='redsuit'>♥</span>" %}
{% set ♦ = "<span class='redsuit'>♦</span>" %}
{% set ♣ = "♣" %}

{% macro hand(spades, hearts, diamonds, clubs) %}
	{{ ♠ }}{{ spades }}
	{{ ♥ }}{{ hearts }}
	{{ ♦ }}{{ diamonds }}
	{{ ♣ }}{{ clubs }}
{% endmacro %}
